{{ define "auth" }}
<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<title>Login</title>
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link href="/static/auth/output.css" rel="stylesheet" />
	</head>
	<body class="flex min-h-screen items-center justify-center bg-base-200">
		<div class="m-4 min-h-[50vh] w-full max-w-sm lg:max-w-4xl">
			<!-- logo -->
			<div class="flex items-center justify-center gap-2 p-8">
				<svg
					width="24"
					height="24"
					viewBox="0 0 1024 1024"
					fill="none"
					xmlns="http://www.w3.org/2000/svg">
					<rect x="256" y="670.72" width="512" height="256" rx="128" class="fill-base-content" />
					<circle cx="512" cy="353.28" r="256" class="fill-base-content" />
					<circle
						cx="512"
						cy="353.28"
						r="261"
						stroke="black"
						stroke-opacity="0.2"
						stroke-width="10" />
					<circle cx="512" cy="353.28" r="114.688" class="fill-base-200" />
				</svg>
				<h1 class="text-lg font-bold">{{.Title}}</h1>
			</div>
			<!-- /logo -->
			<main class="grid bg-base-100 lg:aspect-[2/1] lg:grid-cols-2">
				<!-- image -->
				<figure class="pointer-events-none bg-base-300 object-cover max-lg:hidden">
					<img src="https://picsum.photos/id/283/1200/1200" alt="Login" class="h-full" />
				</figure>
				<!-- /image -->
				<form class="flex flex-col justify-center gap-4 px-10 py-10 lg:px-16" method="post" id="auth-form">
					{{ block "content" . }}{{ end }}
				</form>
			</main>
		</div>
	</body>
</html>
{{ end }}
